*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.padre{
    display: flex;
    flex-flow: column nowrap;
/*colocamos el flexflow para posicionarlo en columnas y
nowrap para que se adapte segun al tamaño establecido*/
}
    .header{
        background: #000;
        display: flex;
        flex-flow: column nowrap;
    }/*las cajas grandes de afuera en columnas*/
        .menu{
            background: #583d72;
            display: flex;
            flex-flow: row nowrap;
            height: 100px;
            align-items: center;
        }/*estas cajas las quiero en filas, row*/
            .logo{
                background: #9f5f80;
                flex: 1 1 auto;
                height: 30px;
            }
            .nav{
                background: #9f5f80;
                flex: 5 1 auto;
                height: 30px;
            }/*el nav lleva 5 porque es mas grande*/
            .social{
                background: #9f5f80;
                flex: 1 1 auto;
                height: 30px;
            }
        .texto-principal{
            background: #ffba93;
        }
            h1{
                background: #ff8e71;
            }
    .section{
        background: #000;
        display: flex;
    }
        .articulos{
            background: #59886b;
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;
        }/*en fila, pero wrap (si el contenedor no alcanza para ponerlos uno al lado del otro, lo manda para abajo*/
            .articulo{
                background: #c05555;
                flex: 1 1 40%;
            }
            .navegacion{
                background: #92817a;
                flex: 1 1 100%;
            }
        .aside{
            background: #FFC85C;
            flex: 1 1 auto;
        }
            .publicidad{
                background: #FFF8C1;
            }
    .footer{
        background: #000;
        display: flex;
        justify-content: center;
    }
        .pie{
            background: #8DB596;
            width: 300px;
        }

/*sitio responsive*/
@media all and (max-width:800px){
    .section{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        height: auto;
    }
    .aside{
        display: flex;
        justify-content: center;
    }
}
@media all and (max-width:600px){
    .articulos{
        flex-direction: column;
    }
}
@media all and (max-width:400px){
    .aside{
        flex-direction: column;
    }
}
